/* Resetando algumas margens e paddings padrões */
body, h1, h2, p, .navbar {
  margin: 0;
  padding: 0;
}

/* Cor de fundo e fontes */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
}

/* Customizando o título */
h1, h2 {
  color: #007BFF;
}

/* Imagem do carrossel ou banner */
#home img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Cards */
.card {
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Rodapé */
footer {
  background-color: #343a40;
  color: #fff;
}

footer p {
  margin: 0;
}

